#about.container {
    display:inline-flex;
}
.container #myCarousel {
    margin-right: 5%;
}

.carousel-inner {
    height:350px;
}

pre.about-pre {
    background-color: #f0fffd;
    font-family:Aharoni;
    font-size:large;
}

.about-pre .fa-facebook {
    margin:2%;
    font-size:x-large;
}

video {
    width: 100%;
    height: 100%;
}