pre.products-catalog {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /*width: 29%;
    height: 50%;*/
    min-width: 250px;
    display: inline-grid;
    margin: 2%;
    background-color: #cdf7ce;
}

    pre.products-catalog img {
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.19);
        border: 2px solid #51da18;
        border-radius: 25px;
        width: 200px;
        height: 200px;
        margin: 2%
    }
    pre.products-catalog .title {
        display:inline-flex;
    }

    pre.products-catalog span .btn-add-to-cart {
        background-color: #ced5d1;
        display: inline-flex;
    }

    pre.products-catalog span {
        display: table;
        text-align: center;
    }

pre.products-catalog .firstLine {
    display: inline-flex;
}
    pre.products-catalog .firstLine h4 {
        margin-right:10%
    }


pre.products-catalog .title .glyphicon-leaf {
    color: #40f140;
    margin-left: 40%;
    top: 14px;
}
.home.container {
    display:inline-flex;
}

.price-section .options .option a{
    display:inline-flex;
    cursor:pointer;
}
.price-section .options .option {
    cursor:pointer;
}

.price-section .options .option a input {
    margin-right: 5px;
}

.home .params {
    width: 30%;
    height: 450px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
}

h4 {
    text-shadow: 1px 0px 1px #40f140;
    transition: text-shadow 0.2s ease, background 0.2s ease;
    border-radius: 6px;
}

h4:hover {
    text-shadow: 4px 2px 0px #40f140;
    background: rgba(0, 255, 0, 0.1);
}

.items {
    column-count: auto;
    width: 100%;
}

span.grouped {
    color: #e87239;
    left: 4PX;
    position: relative;
}

