.container.login .intro {
    text-align: center;
}
.login-details .input-group{
    margin: 3%;
}
.login-details .input-group .login-button {
    color: #fff;
    background-color: #5ad981;
    border-color: #2ea44d;
}

.invalid-login {
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(255,0,0,0.15);
}