body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.sabras-logo {
    background: url(../Images/SabrasLogo.png) no-repeat top left;
    background-size: 100px 100px;
    display:block;
    width:90px;
    height:85px;
    text-indent: -999px;
}

.navbar-nav
{
    margin:3%;
    font-size:20px;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    color: #57c40f;
    background-color: transparent;
}