@{
    ViewBag.Title = "Welcome !";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Your registration just successfully received, <b>Welcome to Sabras Smoothies !</b></p>
<div>
    @Html.ActionLink("Login Now", "Index", "Login")
</div>
