@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    <input type="text" size="50" placeholder="Search for anything..." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<div class="container home">
    <div class="params">
        <h4>Price</h4>
        <div class="options">
            <div class="option">
                <a href="#">
                    <input type="checkbox" class="first-checkbox">
                    <label><span class="first-label">Under ILS 100</span></label>
                </a>
            </div>
            <div class="option">
                <a class="cbx prRng" href="#">
                    <input aria-hidden="true" tabindex="-1" type="checkbox" class="second-checkbox">



                    <label><span class="first-label">ILS 110.00 - ILS 405.00</span></label>
                </a>
            </div>
            <div class="option">
                <a class="cbx prRng" href="#">
                    <input aria-hidden="true" tabindex="-1" type="checkbox" class="Third-checkbox">



                    <label><span class="first-label">Over ILS 100</span></label>
                </a>
            </div>
        </div>
        <div class="price-paramater">
            <label>ILS</label>
            <input class="price" pattern="\d*" type="text" size="3" maxlength="13" value="">
            <label> to ILS</label>
            <input class="price" pattern="\d*" type="text" size="3" maxlength="13" value="">
            <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <h4>Calories</h4>
        <div class="options">
            <div class="option">
                <a href="#">
                    <input type="checkbox" class="first-checkbox">
                    <label><span class="first-label">Under Cal 100</span></label>
                </a>
            </div>
            <div class="option">
                <a class="cbx prRng" href="#">
                    <input aria-hidden="true" tabindex="-1" type="checkbox" class="second-checkbox">



                    <label><span class="first-label">Cal 110.00 - Cal 405.00</span></label>
                </a>
            </div>
            <div class="option">
                <a class="cbx prRng" href="#">
                    <input aria-hidden="true" tabindex="-1" type="checkbox" class="Third-checkbox">



                    <label><span class="first-label">Over Cal 100</span></label>
                </a>
            </div>
        </div>
        <div class="price-paramater">
            <label>Cal</label>
            <input class="price" pattern="\d*" type="text" size="3" maxlength="13" value="">
            <label> to Cal</label>
            <input class="price" pattern="\d*" type="text" size="3" maxlength="13" value="">
            <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <div class="features">
            <h4>Features</h4>
            <label>Is Vegan</label>
            <input aria-hidden="true" tabindex="-1" type="checkbox" class="vegan">
        </div>
    </div>

    <div class="items">

<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
        <div class="title">
        <h4>Green juice</h4>
        <a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
        <p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
        <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/4.jpg" />















<div class="firstLine">
        <h4>158.23$</h4>
        <h4>158 Calories</h4>
</div>
</pre>


<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/1.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>


<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/2.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>



<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/3.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>



<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/4.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>



<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/5.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>



<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<a><span class="glyphicon glyphicon-leaf" title="vegan"></span></a>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/6.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>



<pre class="products-catalog" data-toggle="tooltip" data-placement="bottom" title="products description : contains 150 calories">
<div class="title">
<h4>Green juice</h4>
<p><a title="Add to cart" href="#" class="btn btn-default btn-add-to-cart btn-xs">
<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart

            </a></p>
    </div>
<img src="~/Images/7.jpg" />































<div class="firstLine">
<h4>158.23$</h4>
<h4>158 Calories</h4>
</div>
</pre>
    </div>

</div>
